PORT=4000
NODE_ENV=development

# Clave de Administrador (PIN para acceder a la consola del desarrollador)
ADMIN_PIN=cloe2026

# Configuración Microsoft 365 (Opcional - si no se coloca, el sistema usa el Simulador de Correo integrado)
M365_HOST=smtp.office365.com
M365_PORT=587
M365_USER=soporte.ecommerce@oemoda.com
M365_PASS=
M365_FROM_EMAIL=soporte.ecommerce@oemoda.com
M365_FROM_NAME=Cloe E-Commerce Tech Support
